<div th:fragment="content">

    <h2 class="fw-bold mb-2">
        Selamat Datang, <span th:text="${session.guestName}"></span>
    </h2>

    <p class="text-muted mb-4">
        Silakan lakukan konsultasi untuk diagnosis motor Anda.
        <br>
        <small>
            * Riwayat tidak disimpan. Untuk riwayat hubungi admin/mekanik.
        </small>
    </p>

    <div class="dashboard-card">

        <div class="menu-card">
            <h5>Konsultasi Pribadi</h5>
            <p>Mulai diagnosis motor matic Anda.</p>
            <a href="/konsultasi" class="btn btn-outline-primary">
                Mulai Konsultasi
            </a>
        </div>

    </div>

</div>
