<div th:fragment="content">

    <h3>
        Detail Konsultasi
        <span th:text="'#' + ${konsultasi.idKonsultasi}"></span>
    </h3>

    <p class="text-muted">
    Dilakukan oleh:
    <b th:text="${namaPelaku}"></b>
    •
    <span th:text="${#temporals.format(konsultasi.tanggal, 'dd MMMM yyyy HH:mm')}"></span>

</p>


    <div class="card mb-4">
        <div class="card-body">
            <h5>Kerusakan Terdiagnosa</h5>
            <b th:text="${konsultasi.kerusakanHasil.nama_kerusakan}"></b>

            <p>Persentase:
                <b th:text="${#numbers.formatDecimal(hasil[0].persentase,1,2)} + '%'"></b>
            </p>

            <hr>

            <h6>Deskripsi</h6>
            <p th:text="${konsultasi.kerusakanHasil.deskripsi}"></p>

            <h6>Solusi</h6>
            <p th:text="${konsultasi.kerusakanHasil.solusi}"></p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h6>Top Kandidat Kerusakan</h6>

            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th>No</th>
                    <th>Kerusakan</th>
                    <th>Cocok</th>
                    <th>Total</th>
                    <th>Persentase</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="k,i : ${hasil}">
                    <td th:text="${i.count}" class="text-center"></td>
                    <td th:text="${k.kerusakan.nama_kerusakan}"></td>
                    <td th:text="${k.cocok}" class="text-center"></td>
                    <td th:text="${k.total}" class="text-center"></td>
                    <td th:text="${#numbers.formatDecimal(k.persentase,1,2)} + '%'" class="text-center"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="/riwayat-konsultasi" class="btn btn-secondary">Kembali</a>
    <a th:href="@{/konsultasi/cetak/{id}(id=${konsultasi.idKonsultasi})}"
       class="btn btn-primary">Cetak</a>

</div>
