<div th:fragment="content">

    <h3 class="mb-3">Riwayat Konsultasi</h3>

      <!-- SEARCH -->
    <form method="get" action="/riwayat-konsultasi" class="mb-3">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
            <input type="text"
                   name="keyword"
                   class="form-control"
                   placeholder="Cari berdasarkan ID..."
                   th:value="${keyword}">
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr class="text-center">
            <th>No</th>
            <th>ID Konsultasi</th>
            <th>Tanggal</th>
            <th>Kerusakan</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody id="riwayatTable">
        <tr th:each="k, i : ${list}">
            <td class="text-center" th:text="${i.count}"></td>
            <td class="text-center" th:text="${k.idKonsultasi}"></td>
            <td class="text-center" th:text="${#temporals.format(k.tanggal, 'dd MMMM yyyy HH:mm')}"></td>
            <td th:text="${k.kerusakanHasil.nama_kerusakan}"></td>
            <td class="text-center">
                <a th:href="@{/konsultasi/detail/{id}(id=${k.idKonsultasi})}"
                   class="btn btn-primary btn-sm">
                    Detail
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


